html
  head
    meta(charset='UTF-8')

    title PhotoStory
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.css')
    link(rel='stylesheet', href='https://npmcdn.com/mapillary-js@1.4.1/dist/mapillary-js.min.css')
    link(rel='stylesheet', type='text/css', href='css/index.css', media='screen')
    link(rel='stylesheet', type='text/css', href='css/bootstrap.min.css', media='screen')
    link(rel='stylesheet', type='text/css', href='css/bootstrap-theme.min.css', media='screen')

  body
    .center-panel
      #back 
        span.glyphicon.glyphicon-arrow-left
        p Back
      #mly
      #right-map
    .background
    #map
    hr
    #story
        each url in imgUrls
            #story-description
                h2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut malesuada, elit sed rhoncus maximus, nibh mauris pellentesq
                br
                br
                #story-item
                  img(src=url)
                hr


    #description
      h1 #{title}
      p #{description}
      h2 Scroll down to continue.

    script(src='https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.5/leaflet.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script(src='https://npmcdn.com/mapillary-js@1.4.1/dist/mapillary-js.min.js')
    script(src='https://spatialserver.github.io/Leaflet.MapboxVectorTile/dist/Leaflet.MapboxVectorTile.js')
    script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')
    script(src="http://twitter.github.com/hogan.js/builds/3.0.1/hogan-3.0.1.js")
    script(src='/scripts/index.js')
