body {
    width: 100%;
    height: 100%;
    margin-bottom: 200px;
}

#fullscreenView {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

.mly-wrapper-full {
    position: relative;
    background-color: grey;
    width: 100%;
    height: 100%;
}

.mapillary-js {
    position: relative;
    height: 100%;
    width: 100%;
}

#map-full {
    position: absolute;
    width: 34%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.glyphicon:hover {
    color: #36AF6D;
}

#story .mapillary-js {
    position: relative;
    width: 100%;
    height: 100%;
    margin: auto;
    /*box-shadow: 3px 3px 3px #888888;*/
}

body .background {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-image: url(./background.jpg);
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*filter: grayscale(50%);
    -moz-filter: grayscale(50%);
    -webkit-filter: grayscale(50%);
    -o-filter: grayscale(50%);*/
    /*filter: blur(6px);
    -moz-filter: blur(6px);
    -webkit-filter: blur(6px);
    -o-filter: blur(6px);*/
}

/*body .background h1 {
    position: fixed;
    z-index: 10;
}*/

h1 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 80px;
}

h2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

h3 {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-style: italic;
}

#title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-size: 80px;
}

#subtitle {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
    font-style: italic;
    font-size: 20px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
}

#map {
    width: 100%;
    height: 100%;
    margin: auto;
    z-index: 124;
    /*width: 60%;
    height: 80%;*/
    /*z-index: 124;
    background-color: white;
    border: 5px solid rgb(255, 255, 255);*/
    /*box-shadow: 3px 3px 3px #888888;*/
}

#right-map {
    /*position: fixed;
    top: 20px;*/
    width: 100%;
    height:25%;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

#right-map-2 {
    margin: auto;
    width: 60%;
    height: 80%;
    margin-top: 100px;
    margin-bottom: 100px;
    z-index: 124;
    background-color: white;
}

.DirectionsPerspective {
    display: none;
}

.glyphicon.glyphicon-resize-full {
    position: absolute;
    color: white;
    font-size: 3em;
    top: 5%;
    right: 2%;
    z-index: 1200;
    -webkit-text-stroke: 1px black;
}

.glyphicon.glyphicon-resize-full:hover {
    color: #36AF6D;
}

.glyphicon.glyphicon-arrow-left {
    font-size: 200%;
    top: 1px;
}

.glyphicon.glyphicon-play {
    position: absolute;
    padding: 20px;
    font-size: 6em;
    background-color: rgba(215, 218, 221, .5);
    border-radius: 50%;
    margin: 0 auto;
    z-index: 1000;
    top: 40%;
    left: 43%;
}

#map-mode {
    position: relative;
    right: 5%;
    width: 90%;
    height: 500px;
    z-index: 1000;
    background-color: white;
    border: 5px solid rgb(255, 255, 255);
    box-shadow: 3px 3px 3px #888888;
}

#story-description {
    position: relative;
    width: 80%;
    left: 10%;
    text-align: center;
}

/*#story-description h2 {
    position: relative;
    color: #474A4E;
    font-weight: lighter;
    font-family: Helvetica Neue, Helvetica;
}*/

/*#text {
    position: absolute;
    width: 100%;
    height: 40%;
    bottom: 0px;
    color: black;
    /*font: 35px Helvetica, Sans-Serif;
    font-family: 'Source Sans Pro', sans-serif;
    letter-spacing: -1px;
    background-color: rgba(256, 256, 256, .25);
}

#text p {
    font-size: 40%;
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}

p {
    /*font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
}*/

#fullscreen-title {
    font-family: 'Source Sans Pro', sans-serif;
}

.description-text {
    position: relative;
    margin: 0 auto;
    font-family: 'Source Sans Pro', sans-serif;
    width: 60%;
    padding: 40px;
}

#description {
    display: block;
    /*background: rgba(255, 255, 255, 0.65);*/
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 10%;
    /*border-radius: 6px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);*/
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    filter: opacity(60%);
}

#author {
        position: absolute;
        bottom: 0%;
        right: 0%;
        left: 0%;
        margin: 0 auto;
        font-family: 'Source Sans Pro', sans-serif;
        font-weight: 300;
        color: white;
        text-align: center;
        padding: 5%;

}

#center-panel {
    /*display: none;
    position: relative;*/
    width: 100%;
    height: 25%;
    z-index: 6000;
    /*background-color: white;*/
}

#mly {
    position: absolute;
    margin: auto;
    bottom: 0%;
    height: 100%;
    width: 100%;
    z-index: 51;
}

#back {
    font-family: Helvetica Neue, Helvetica;
    height: 4%;
    display: inline-block;
}

#img-description {
    position: absolute;
    left: 5%;
    bottom: 5%;
    font-size: 1.5em;
    color: white;
    background-color: rgba(32, 32, 32, .65);
    z-index: 99;
}

#fullscreen-description {
    position: relative;
    width: 80%;
    left: 10%;
    text-align: center;
}

#clear-map {
    clear: both;
}

#introduction {
    position: relative;
    margin: 0 auto;
    width: 50%;
    text-align: center;
    padding: 50px;
}

#fullscreen-view {
    padding-bottom: 20%;
}

.fullscreen-item {
    width:100%;
    height: 75%;
}

