html
  head
    meta(charset='UTF-8')

    title PhotoStory
    link(rel='stylesheet', href='https://npmcdn.com/mapillary-js@1.1.0/dist/mapillary-js.min.css')
    link(rel='stylesheet', href='http://cdn.leafletjs.com/leaflet-0.7.5/leaflet.css')
    link(rel='stylesheet', type='text/css', href='css/index.css', media='screen')

  body
    .center-panel
        #mly
            #img-description
                p
        #map
        #right-description
            #description-text
                h1
                p
            #map-links
                img#fullscreen(src='/img/fullscreen.svg')
                img#view-map(src='/img/map_icon.png')
                img#mapillary(src='/img/mapillary_logo.png')
        #circle-link

    .background
    .grid
     each url in imgUrls
         .grid-item
            img(src=url)
    #description
      h1 #{title}
      p #{description}
      h2 Click anywhere to continue.
    #icon
        a(href='https://www.mapillary.com/')
            img(src= "/img/mapillary_logo.png")
    #back
        img(src='/img/back.png')
    #close-map
        img(src='/img/close.png')

    script(src='//cdn.leafletjs.com/leaflet-0.7.5/leaflet.js')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js')
    script(src='https://npmcdn.com/mapillary-js@1.1.0/dist/mapillary-js.min.js')
    script(src='//spatialserver.github.io/Leaflet.MapboxVectorTile/dist/Leaflet.MapboxVectorTile.js')
    script(src='https://npmcdn.com/masonry-layout@4.0/dist/masonry.pkgd.min.js')
    script(src='/scripts/index.js')
